@page
@model lab7.Pages._2.IndexModel

<h1>Currency Conversion</h1>

<form method="post">
    <div>
        <label for="amount">Введите количество:</label>
        <input type="text" id="amount" name="Amount" />
    </div>
    <div>
        <label for="sourceCurrency">Исходная валюта:</label>
        <select id="sourceCurrency" name="SourceCurrency">
            @foreach (var currency in Model.AvailableCurrencies)
            {
                <option value="@currency.Code">@currency.Name (@currency.Code)</option>
            }
        </select>
    </div>
    <div>
        <label for="targetCurrency">.
            Целевая валюта:
        </label>
        <select id="targetCurrency" name="TargetCurrency">
            @foreach (var currency in Model.AvailableCurrencies)
            {
                <option value="@currency.Code">@currency.Name (@currency.Code)</option>
            }
        </select>
    </div>
    <div>
        <button type="submit">Конвертация</button>
    </div>
</form>

@if (Model.ConvertedAmount.HasValue)
{
    <h2>Результат:</h2>
    <p>@Model.Amount @Model.SourceCurrency = @Model.ConvertedAmount @Model.TargetCurrency</p>
}
